target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.git
.gitignore
.gitattributes

.idea
.vscode
*.iml

node_modules
npm-debug.log

*.log
logs/

mosquitto/data/
mosquitto/log/

mqtt-test/
simulator/
ctest.data/

README.md
HELP.md